@model StockDropdownListMVC.Models.Stock

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddOrEdit</title>
</head>
<body>
    @using (Html.BeginForm("AddOrEdit", "Stock", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">Add Stock</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ProductId)</td>
                <td>@Html.DropDownListFor(model => model.ProductId, new SelectList(Model.ProductCollection, "ProductId", "ProductName"), "Select")</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Count)</td>
                <td>@Html.EditorFor(model => model.Count)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
</body>
</html>
